*{
    color: #f4f9fb;
    font-family: "Roboto Condensed",sans-serif;
}

body{
    background-color: #f4f9fb
}



#main-page{
    padding-top: 57px;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark{
    background-color: #000;
}

.trainer-img{
    max-height: 450px;
}

.training-card{
    color: #f4f9fb;
}

.btn-light{
    background-color: #f4f9fb;
}

.card{
    min-height: 682px;
}

.card-text{
    min-height: 120px;
}


.header-txt{
    text-align: right;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}
.round{
    border-radius: 28px;
    color: rgba(255,255,255,0.1);
    background: transparent;
    outline: none;
}

.round::placeholder{
    color: #000;
}

.filter{
    cursor: pointer;
}

.train{
    min-height: 600px;
    transition: 0.5s;
}

.train-hover:hover{
    transform: scale(1.02);
    z-index: 2;
}

.train-img{
    max-height: 375px
}

.form-check-input:checked{
    background-color: #ffc107;
}

.form-control:focus {
    outline: none;
}
